@font-face {
    font-family: "Roboto-Regular";
    src: url(Roboto-Regular.ttf);
}
@font-face{
    font-family: "Roboto-Bold";
    src: url('Roboto-Bold.ttf');
}

p{
	margin-bottom:  0.5em;
	margin-top:  1.5em;
	/*width: 40em;*/
	max-width: 40em;
}

img{
	position: relative;
	margin-bottom:  0;
	margin-top:  1.5em;
	left: 1em;

}

.BText{

	position: absolute;
	left: 10%;
	width: 80%;
	font-family: Roboto-Regular;
	/*font-size: 1rem;*/

}

.SpanStyle{
		font-family: Roboto-Bold;
}

.Rtxt{
	position: relative;
	left: 1em;
	margin-top: 0.2em;
	margin-bottom:  0.2em;
}

.Rtxt1{
	position: relative;
	left: 1em;
	margin-top: 0.6em;
	margin-bottom:  0.2em;
}

.Desktop{
	font-size:1rem;
}

.Mobile{
	font-size:3rem;
}